.feedback {
    background: #ffffff;
    padding: 3rem;
    box-shadow: 0px 4px 20px rgba(221, 56, 56, 0.1);

    transition: all 0.3s ease-in-out;
}

.feedback:hover {
    transform: scale(1.02); /* Slight zoom on hover */
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.15); /* Enhanced shadow */
}

.feedback input, 
.feedback textarea {
    border: 1px solid #C81048;
    padding: 10px;
    font-size: 16px;
}

.feedback button {
    background-color: #C81048;
    color: white;
    border: none;
    padding: 15px 20px;
    margin-top: 20px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.feedback button:hover {
    transform: scale(1.05); /* Zoom effect on button */
    box-shadow: 0px 6px 15px rgba(200, 16, 72, 0.5);
}